body{
    background-image:Linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
Linear-gradient(127deg, black, black 70.71%),
    
    Linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    
}
img {
    width: 100%;
}

.vid {
    text-align: center;
}
#test {
    color:white;
}
.navbar-link{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 21px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navbar-link:hover{
    color: red;
}

#logo
{
    width: 50px;
    height: 50px;
    
}
ul { 
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-left: 23%;
    margin-right: 23%;
}
.navbar{
    display: flex;
}
h2{
    color: white;
}

.cour {
    height:550px;
    width : 100%
}
.centered {
    font-size: 6em;
    font-family: 'Bree Serif', serif;
    color: #fff;
    position: absolute;
    top: 30%;
    left:40%;
    text-shadow: 5px 2px rgb(12, 11, 11);
  }