#img2{
    background:linear-gradient(217deg,rgba(255,0,0, 0,8), rgba(255,0,0,0)70,71%)  }

#img3{
    background:linear-gradient(127deg,black,black 70,71%)}

#img4{    background:linear-gradient(336deg,rgba(0,0255, 0,8),rgba(0,0255,0) 70,71%);  }
img {
    width: 100%;
}

.vid {
    text-align: center;
}
#test {
    color:black;
}